div {
	padding: 10px;
	margin: 10px;
	border: 1px dotted green;
	
}
.table1 th {
	padding: 10px;
	margin: 10px;
	border: 1px dotted green;
	background: red;
}
.table1 td {
	padding: 10px;
	margin: 10px;
	border: 1px dotted green;
	background: white;
}
.errors{
	color: red;
} 